/* id hierachy, don't sort */

#page,
#masthead,
#content,
#primary,
#main,
#secondary,
#colophon 
	{ display:block; }
			
meta-nav { font-family: "umi-font"; }

body {font-size: 16px; line-height: 1.5em; -webkit-font-smoothing:subpixel-antialiased; -webkit-text-size-adjust:none;}

/* We are trying not-to reset content-area */

.um-top *,
.um-bottom *,
nav *,
header *,
aside *,
footer * {margin:0; padding: 0; text-decoration: none; font-size: 1em; list-style-type:none;}

nav p,
header p,
aside p,
footer p {margin-bottom: 1em}

table,th,td {border-width:1px; border-style:solid;}
th,td {padding: .1rem .2rem; }

html i, /* made i hard to reset */
cite, 
em, var, address, dfn {font-style:normal;}

select,
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"],
textarea {
	border-width:1px;
	border-style:solid;
	border-radius:3px;
	padding: .2rem;
	font-size: .9em;
	vertical-align: top;
}

a[class$='-button'], button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	line-height:1;
	border-width: 1px;
	border-style: solid;
	box-shadow: /* button apperances */
		inset 0 1px 1px 0 rgba(255,255,255,0.5),
		inset -2px 0px 1px 0 rgba(0,0,0,0.1),
		inset 0 -2px 1px 0 rgba(0,0,0,0.1),
		inset 1px 0 1px 0 rgba(255,255,255,0.5);
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
	border-color: rgba(0,0,0,0.3);
	opacity: .95;
	vertical-align: top;
	font-size: .9em;
	padding: .2rem 1rem;
}

a:hover {text-decoration: underline;}

a[class$='-link'] {opacity: .8}
a[class$='-link']:before {content: "[ "}
a[class$='-link']:after {content: " ]"}
a[class$='-link']:hover {opacity: 1}

a[class$='-button']:hover,
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: rgba(0,0,0,0.5);
	opacity:1
}

a:focus,
a:active,
textarea:focus,
select:focus,
button:focus,
button:active,
input:focus,
input:active {outline-offset: 0; outline:none;}

pre,textarea {
	vertical-align:top;
	min-width:98%; min-height: 10em;
	display:block;
	font:.9375em Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
}

input[type="checkbox"],
input[type="radio"] {
	padding:0;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none
}

input[type="search"] {
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border:0;
	padding:0
}

select {
	appearance:menulist;
	-moz-appearance:menulist;
	-webkit-appearance:menulist;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	font-size:.95em;
	padding: .1em .3em;
	border-width:1px;
	border-style:solid;
}

body.admin-bar {margin-top:0}
img.avatar {border-width: 1px; border-style: solid;}
pre {border-width: 1px; border-style: solid; padding: .5rem}
pre code {display: block; }

main article {position: relative; }

/* The Wordpress Defaults
 * ----------------------
 * For documents-legacy flow only, and element-fix
 * Mostly Copied from underscores(_s)
**/

.blog .format-aside .entry-title,.archive .format-aside .entry-title,.byline,.updated,.widget_search .search-submit {display:none;}
.blog article,.search article,.archive article {margin-bottom:1.5em; }

.blog h1.entry-title,
.search h1.entry-title,
.archive h1.entry-title {font-size:1.2em;}

.comment-author cite.fn {font-style:normal;}
.comment-author img.avatar {float:left; margin-right:10px;}
.comment-author {line-height:16px;}
.comment-content a {word-wrap:break-word;}
.comment-content {margin-left:42px;}
.comment-form label {display:block;}
.comment-form p.form-allowed-tags {font-size:.85em;}
.comment-form {width:100%;}
.comment-list {margin:0; padding-left: 1.5em}
.comment-list .children li.comment .reply {top:0; margin-right:0;}
.comment-list .children {margin-left:42px; padding-top:.5em; border-style:solid; border-width:1px;}
.comment-list .depth-1 {border-radius:3px; border-style:solid; border-width:1px; margin:.5em 0; padding:.3em;}
.comment-list .parent article {margin-bottom:.5em;}
.comment-list > li.comment:hover {background:rgba(0,0,0,0.02);}
.comment-list li.comment .reply {position:absolute; top:.3em; right:0; margin-right:.3em;}
.comment-metadata {font-size:.8em;}
.comments-area .comments-title {margin-bottom:1em;}
.comments-area div:not(.comment-content) dd,.comments-area div:not(.comment-content) ul,.comments-area div:not(.comment-content) ol {margin-left:2em;}
.comments-area div:not(.comment-content) p {margin:1em 0;}
.comments-area ol {margin-left:0;}

.entry-meta .edit-link {float:right;}

#um-bottom:after,
#um-top:after,
.comment-content:after,.entry-content:after,.site-content:after, .site-footer:after,.site-header:after {clear:both;}

#um-bottom:before,
#um-top:before,
.comment-content:after,.comment-content:before,
.entry-content:after,.entry-content:before,
.site-content:after,.site-content:before,
.site-footer:after,.site-footer:before,
.site-header:after,.site-header:before {content:''; display:table;}

.page-content img.wp-smiley,.entry-content img.wp-smiley,.comment-content img.wp-smiley {border:none; margin-bottom:0; margin-top:0; padding:0;}
.page-content {margin:1.5em 0 0;}

.page-links {clear:both; margin:0 0 1.5em;}
.recentcomments a {display:inline!important; margin:0!important; padding:0!important;}

.single .byline,.group-blog .byline {display:inline;}

.site-main .gallery a img {border:none; height:auto; max-width:90%;}
.site-main .gallery dd {margin:0;}
.site-main .gallery {margin-bottom:1.5em;}

.widget .search-field {min-width:96%;}
.widget select {min-width:96%; max-width:96%;}

.wp-caption img[class*="wp-image-"] {display:block; z-index: 5}
.wp-caption {margin: 1% 1% 1.5em 1%; max-width:100%;  position: relative;}
.wp-caption .wp-caption-text {
	z-index: 6; position: absolute; bottom: 0; left: 0; 
	border-top: 1px solid rgba(255,255,255,0.4);
	background: rgba( 0, 0, 0, .4); color: #fff; padding: .5%; width: 99%; margin:0;
	text-align:center; font-size:.8em; height: 2em; line-height: 2em;
}

.wp-caption .wp-caption-text a {color: #fff;}

a.comment-reply-link,a.post-edit-link {text-decoration:none!important; line-height:normal;}
article .entry-meta,.comments-area .reply,div.nav-links,.comment-meta {font-size:.9em;}
aside a:hover {text-decoration:underline;}
div.nav-links {margin:1em 0;}
li.comment {position:relative;}

img.alignleft {margin: 0 1% 1% 0;}
img.alignright {margin: 0 0 1% 1%;}

.left {text-align: left;}
.right {text-align: right;}
.last {margin-right: 0}

/* css class is needed in theme-check */

.sticky  {}
.gallery-caption  {}
.bypostauthor {}
.aligncenter {} 

/* page title = single title = page list title */

.page-title,
body.single .entry-title,
body.page .entry-title {font-size: 2em; margin: 0; text-decoration:none; text-transform: capitalize;
margin-bottom: .5em; line-height: 1; padding-bottom: .25em;
}

.archive .page-header { margin-bottom: 1em; }
.entry-summary p { margin-top: 0 }

body.search .page { border: 1px solid rgba(0,0,0,0.5); padding: 1%; }
body.search .page:after { clear: both; }

/* Consistence Styles 
 * --------------------------------------
**/

article *[class$='-content'] h1 {font-size: 2em; margin-bottom: 1em;}
article *[class$='-content'] h2 {font-size: 1.5em; margin-bottom: 1em;}
article *[class$='-content'] h3 {font-size: 1.25em; margin-bottom: 1em;}
article *[class$='-content'] h4 {font-size: 1em; margin-bottom: 1em;}
article *[class$='-content'] h5 {font-size: .9em; margin-bottom: .5em;}
article *[class$='-content'] h6 {font-size: .8em; margin-bottom: 0}
article *[class$='-content'] a {text-decoration: underline;}

article *[class$='-content'] ol,
article *[class$='-content'] ul {padding-left: 1.5em}
article *[class$='-content'] ul li ul,
article *[class$='-content'] ol li ol {font-size: .9em;}

article hr { display: block; height: .1rem; border-style: solid; margin: 1.5em 0 1em 0}

/* Content Width - Theme Support */
 
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%; height: auto;
}


/* Jetpack, screen-reader
 * ----------------------
 * Mostly from _s which i don't know :D
 *
**/

.infinite-scroll .paging-navigation,.infinite-scroll.neverending .site-footer {display:none;}
.infinity-end.neverending .site-footer {display:block;}
.screen-reader-text {clip:rect(1px,1px,1px,1px); position:absolute!important;}
.screen-reader-text:hover,.screen-reader-text:active,.screen-reader-text:focus {
	background-color:#f1f1f1; border-radius:3px; box-shadow:0 0 2px 2px rgba(0,0,0,0.6);
	clip:auto!important; color:#21759b; display:block;
	font-size:12px; font-weight:700; height:auto; left:5px; line-height:normal; text-decoration:none;
	top:5px; width:auto; z-index:100000; padding:10px 20px;
}

/* Galleries */

.gallery {
	margin-bottom: 1.5em;
}
.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery-caption { font-size: .8em;}