#colophon,#content,#masthead,#page,#primary main,#secondary{display:block}

body.admin-bar{margin-top:0}
body.adminbar{margin-top:32px}
body.search .page.entry-title a{text-decoration:underline}
body.search .page:after{clear:both}
body{-webkit-font-smoothing:subpixel-antialiased;-webkit-text-size-adjust:none;font-size:16px;line-height:1.5em}

main {position:relative}
aside *,footer *,header *,nav *,.um-bottom *,.um-top * {font-size:1em;list-style-type:none;margin:0;padding:0;text-decoration:none}

a.comment-reply-link,a.post-edit-link{line-height:normal;text-decoration:none  !important}

a:active,a:focus,button:active,button:focus,input:active,input:focus,select:focus,textarea:focus{outline-offset:0;outline:none}
a:hover{text-decoration:underline}
a[class$='-link']:hover{opacity:1}
a[class$='-link']{opacity:.75}
a[class$='-button'],button,input[type="button"],input[type="reset"],input[type="submit"]{border-color:rgba(0,0,0,.3);border-style:solid;border-width:1px;box-shadow:inset 0 1px 1px 0 rgba(255,255,255,.5),inset -2px 0px 1px 0 rgba(0,0,0,.1),inset 0 -2px 1px 0 rgba(0,0,0,.1),inset 1px 0 1px 0 rgba(255,255,255,.5);font-size:.9em;line-height:1;opacity:.95;padding:.2rem 1rem;text-shadow:1px 1px 1px rgba(255,255,255,.7);vertical-align:top}
a[class$='-button']:hover,button:hover,html input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover{border-color:rgba(0,0,0,.5);opacity:1}

sub,sup { font-weight: 700; opacity: .75}

address,cite,dfn,em,html i,var{font-style:normal}
article *[class$='-content'] a{text-decoration:underline}
article *[class$='-content'] h1{font-size:2em;margin-bottom:1em}
article *[class$='-content'] h2{font-size:1.5em;margin-bottom:1em}
article *[class$='-content'] h3{font-size:1.25em;margin-bottom:1em}
article *[class$='-content'] h4{font-size:1em;margin-bottom:1em}
article *[class$='-content'] h5{font-size:.9em;margin-bottom:0}
article *[class$='-content'] h6{font-size:.8em;margin-bottom:0;opacity:.75}
article *[class$='-content'] ol li ol,article *[class$='-content'] ul li ul{font-size:.9em}
article *[class$='-content'] ol,article *[class$='-content'] ul{padding-left:1.5em}
article hr{border-style:solid;display:block;height:.1rem;margin:1.5em 0 1em 0}
article header{margin-bottom:1.5em}

aside a:hover{text-decoration:underline}
aside p,footer p,header p{margin-bottom:1em}

address{font:.9375em Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace; opacity: .9}

button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
div.gallery{margin:2em 0 2em 0}
div.nav-links{margin:1em 0}
img.alignleft,.wp-caption.alignleft{margin:0 1em 1em 0}
img.alignright,.wp-caption.alignright{margin:0 0 1em 1em}
img.avatar{border-style:solid;border-width:1px}
input[type="checkbox"],input[type="radio"]{padding:0}
input[type="email"],input[type="password"],input[type="search"],input[type="text"],input[type="url"],select,textarea{border-radius:3px;border-style:solid;border-width:1px;font-size:.9em;padding:.2rem;vertical-align:top}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
input[type="search"]{-moz-box-sizing:content-box;-webkit-appearance:textfield;-webkit-box-sizing:content-box;box-sizing:content-box}
code,kbd,pre,textarea,tt{font:.9375em Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace}

li.comment{position:relative}

pre code{display:block}
pre,textarea{display:block;min-height:10em;vertical-align:top}
pre{border-style:solid;border-width:1px;padding:.5rem}
select{-moz-appearance:menulist;-moz-box-sizing:content-box;-webkit-appearance:menulist;appearance:menulist;border-style:solid;border-width:1px;box-sizing:content-box;font-size:.95em;padding:.1em .3em}
table{margin-bottom:1em}
table,td,th{border-style:solid;border-width:1px}
td,th{padding:.2rem .3rem;text-align:center}
tr th{background:rgba(0,0,0,.05)}

.aligncenter{}
.alignleft{float:left}
.alignright{float:right}

.archive .format-aside .entry-title,.blog .format-aside .entry-title,.byline,.updated,.widget_search .search-submit{display:none}
.archive .page-header{margin-bottom:1em}
.archive article,.blog article,.search article{margin-bottom:1.5em}
.archive h1.entry-title,.blog h1.entry-title,.search h1.entry-title{font-size:1.2em}

.bypostauthor{}

.comments-title,#reply-title{margin-top:1em}
.comment-author cite.fn{font-style:normal}
.comment-author img.avatar{float:left;margin-right:10px}
.comment-author{line-height:16px}
.comment-content a{word-wrap:break-word}
.comment-content img.wp-smiley,.entry-content img.wp-smiley,.page-content img.wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}
.comment-content:after,.comment-content:before,.entry-content:after,.entry-content:before,.site-content:after,.site-content:before,.site-footer:after,.site-footer:before,.site-header:after,.site-header:before{content:'';display:table}
.comment-content:after,.entry-content:after,.site-content:after,.site-footer:after,.site-header:after{clear:both}
.comment-content{margin-left:42px}
.comment-form label{display:block}
.comment-form p.form-allowed-tags{font-size:.85em}
.comment-form{width:100%}
.comment-list .children li.comment .reply{margin: .3em;font-size: .8em;top:0}
.comment-list .children{/* border-style:solid; *//* border-width:1px; *//* margin-left:42px; *//* padding-top:.5em */}
.comment-list .depth-1{border-radius:3px;border-style:solid;border-width:1px;margin:.5em 0;/* padding:.3em */}
.comment-list .parent article{margin-bottom:.5em}
.comment-list li.comment .reply{margin-right:.3em;position:absolute;right:0;top:.3em}
.comment-list>li.comment:hover{/* background:rgba(0,0,0,.02) */}
.comment-list{margin:0;padding-left:1.5em}
.comment-meta,.comments-area .reply,article .entry-meta,div.nav-links{font-size:.9em}
.comment-metadata{font-size:.8em}
.comments-area .comments-title{margin-bottom:1em}
.comments-area div:not(.comment-content)dd,.comments-area div:not(.comment-content)ol,.comments-area div:not(.comment-content)ul{margin-left:2em}
.comments-area div:not(.comment-content)p{margin:1em 0}
.comments-area ol{margin-right: 0;padding: 0;list-style-type: none;}
.comments-area .children { padding: 0 0 0 2em; }
.entry-content blockquote cite{float:right;font-size:.8em; opacity: .8}
.entry-content blockquote p{margin:0;padding:0}
.entry-content blockquote,q{font-family:"Georgia","Times New Roman",times,serif}
.entry-content blockquote{font-size:1.1em;line-height:1.5em;margin:0 5em 2em 3em;}
.entry-content p cite{font-weight:700}
.entry-content p ins:before{content:"\2014"}
.entry-content p ins{font-style:oblique;opacity:.9;text-decoration:none}
.entry-content p em,.entry-content p q{font-style:italic}
.entry-content p q:after{content:"\0022";opacity:.8}
.entry-content p q:before{content:"\0022";opacity:.4}
.entry-content p code,.entry-content p tt{background:rgba(0,0,0,.07);padding:0 .25rem;word-wrap:break-word}
.entry-content p var{color:#36A}

.entry-meta .edit-link{float:right}
.entry-summary p{margin-top:0}

.gallery-columns-2 .gallery-item{max-width:50%}
.gallery-columns-3 .gallery-item{max-width:33.33%}
.gallery-columns-4 .gallery-item{max-width:25%}
.gallery-columns-5 .gallery-item{max-width:20%}
.gallery-columns-6 .gallery-item{max-width:16.66%}
.gallery-columns-7 .gallery-item{max-width:14.28%}
.gallery-columns-8 .gallery-item{max-width:12.5%}
.gallery-columns-9 .gallery-item{max-width:11.11%}
.gallery-item{border:1px solid #ccc;display:inline-block;margin-bottom:1.5em;margin-bottom:1em;text-align:center;vertical-align:top;width:100%}
.gallery-caption,.wp-caption-text{font-size:.8em;line-height:1.2}

.infinite-scroll .paging-navigation,.infinite-scroll.neverending .site-footer{display:none}
.infinity-end.neverending .site-footer{display:block}
.screen-reader-text,.sr-text{clip:rect(1px,1px,1px,1px);position:absolute  !important}

.last{margin-right:0}
.left{text-align:left}
.right{text-align:right}
.sticky{border-bottom-width:1px}
.tagcloud a{text-decoration:none}
.group-blog .byline,.single .byline{display:inline}

.page-content{margin:1.5em 0 0}
.page-links{clear:both;margin:0 0 1.5em}
.page-title,body.page .entry-title,body.single .entry-title{font-size:2em;line-height:1;margin-bottom:.5em;margin:0;padding-bottom:.25em;text-decoration:none;text-transform:capitalize}
.recentcomments a{display:inline  !important;margin:0  !important;padding:0  !important}
.screen-reader-text:active,.screen-reader-text:focus,.screen-reader-text:hover{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto  !important;color:#21759b;display:block;font-size:12px;font-weight:700;height:auto;left:5px;line-height:normal;padding:10px 20px;text-decoration:none;top:5px;width:auto;z-index:100000}
.site-main .gallery a img{border:none;height:auto;max-width:90%}
.site-main .gallery dd{margin:0}
.site-main .gallery{margin-bottom:1.5em}
.size-auto,.size-full,.size-large,.size-medium,.size-thumbnail{height:auto;max-width:100%}

.widget .search-field{min-width:96%}
.widget select{max-width:96%;min-width:96%}

.wp-caption .wp-caption-text a{color:#fff}
.wp-caption .wp-caption-text{background:rgba(0,0,0,.4);border-top:1px solid rgba(255,255,255,.4);bottom:0;color:#fff;display:block;font-size:.8em;height:2em;left:0;line-height:2em;margin:0;padding:.5%;position:absolute;text-align:center;width:99%;z-index:6}
.wp-caption img[class*="wp-image-"]{display:block;z-index:5}
.wp-caption{max-width:100%;position:relative}

.entry-content dl {margin: 0 3em 1em 1.5em; }
.entry-content dt {font-weight: 700; }
.entry-content dd {margin-left: 0; margin-bottom: 1em; }

