/*
 * UM FX CSS
 */

#um-top, 
#um-bottom { margin: 0; padding: 0; clear:both;  }

.um-dark-overlay{ height: 100%; width: 100%; background-color: rgba(0,0,0,.9); position: fixed; top:0; z-index: 990; }
.um-overlay-fx { color: #fff; font-size: 1.5em; }

.um-off-canvas-left { position: fixed; top: 0; left: -24.75%; width: 25%; }
.pined-left, .um-off-canvas-left:hover { position: fixed; top: 0; left: 0; width: 25%; }
.canvas-adjust-left  { transition: .5s; -webkit-transition: .5s; margin-left: 26% !important; overflow: hidden; }

.um-off-canvas-right { position: fixed; top: 0; left: 99%; width: 25%; }
.pined-right, .um-off-canvas-right:hover { position: fixed; top: 0; left: 100%; width: 25%; margin-left: -25%; }
.canvas-adjust-right { transition: .5s; -webkit-transition: .5s; overflow: hidden; }

/* ajax um-login */

div.um_login_div {
	position: fixed; top: 100%; margin-top: -25px; left: 100%; margin-left: -100px;
	height: 24px; line-height: 24px;
	background: #333; z-index: 991;
	width: 80px; text-align: center;
}

div.um_login_div a { display: block; color: #fff; height: 24px; line-height: 24px; font-size: 12px; text-decoration:none; }

#um-login{
	display: none; background-color: #FFFFFF;
	position: fixed;top: 180px;padding: 10px;width: 350px;z-index: 999;left: 50%;margin-left: -200px;
	font-size: .9em;
}
#um-login p { margin-bottom: 1em; }

#um-login p.submit  { text-align: right }
#um-login p.submit  .label { float: left }

#um-login p.status{ display: none; font-size: .9em; }

#um-login h1 { font-weight: 700; font-size: 1.5em; margin-bottom: 1.5em; }
#um-login p label { display: block }
#um-login input[type=text],
#um-login input[type=password] { width: 98%; }

#um-login a.um-badge {
	-webkit-box-shadow:inset 0 1px 1px 1px rgba(255,255,255,.2); box-shadow:inset 0 1px 1px 1px rgba(255,255,255,.2);
	display: inline-block; text-align: center; color: #ddd; text-transform: lowercase; font-size: .75em;  
	background: #111; text-decoration: none;
	display: block;
	opacity: 1 !important;
}

#um-login a.um-badge:hover { color: #fff; text-decoration: none !important; }

/* um-tab */

#um_tab { display: table; width: 99%; border-bottom: 1px solid #ccc; padding-left: 1%; line-height: 1.3rem }
#um_tab li { list-style-type: none; float: left; min-width: 120px; border: 1px solid #ccc; border-bottom: none; line-height: 30px; margin-right: 2px; margin-bottom: 0}
#um_tab li a { display: block; background: #eee; color: #333; text-align: center; text-decoration: none !important; padding:0 }
#um_tab li a:hover { background: #f0f0f0; color: #111; }
#um_tab li a.active { background: #fff; color: #111; }
.um_tab_content { padding: .5em; background: #fff; border: 1px solid #ccc; border-top: none;  margin:0}
.um_tab_content.hide { display: none; }

/* um-toc */

.um_toc  { float: right; width: 300px; border: 1px solid #ccc; background: #fff; color: #999 }
.um_toc h5 { padding: .5em; margin:0; border-bottom: 1px solid #ccc; margin: 0 0 .5em; color: #999 }
.um_toc ol { margin-left: 1.5em; font-size: .8em; line-height: 1.5em; padding: .5em .5em 2em .5em; }
.um_toc a { text-decoration: none; color: #333; }

/* utilities */

.box { border-width: 1px; border-style:solid; }
.rounded { border-radius: 5px;  }
.small { font-size: .8em; line-height: 1.2em; }
.rounded.inside { padding: 8px }
.border-box { 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

[class^="umi-"]:before,
[class*=" umi-"]:before  { text-decoration: none; display: inline-block; padding: .25rem; vertical-align: top }

#umi-fontest div { float: left; margin: 0 2% 1em 0; width:31%; }
#umi-fontest div code { float: right; }
.square-umi { min-width: 16px; min-height: 16px; }

.um-msg { padding: .5% 1%; font-size: .8em; color: #fff; cursor: pointer; margin-bottom: .5em; width: 96%; border-radius: 3px;  }
.um-msg [class^="umi-"]:before,
.um-msg [class*=" umi-"]:before  { float: right;  }

/* um-crumbs */

#um-crumbs li { float: left; list-style-type:none;  }
#um-crumbs li:before { content: "\203A"; padding: 0 .5em 0 .5em;  }
#um-crumbs li:first-child:before { content: "\e640"; padding: 0 0; }

/* great div grouping */

.row:before, .row:after { content: ""; display: table; }
.row:after  { clear: both; }

.full-width { width: 100%; }
.full { width: 100%; text-align: center; }
.col2 > div { width: 48%; margin-right: 2%; float: left; }
.col2 > div.last { width: 50%; margin-right: 0 }

.col3 > div { width: 32%; margin-right: 1%; float: left; }
.col3 > div.last { width: 33%; margin-right: 0 }

.col4 > div { width: 24%; margin-right: 1%; float: left; }
.col4 > div.last { width: 25%; margin-right: 0 }

.col5 > div { width: 19%; margin-right: 1%; float: left; }
.col5 > div.last { width: 20%; margin-right: 0 }

.grid > div { float:left; }
.grid > .g12 { width: 50%; }
.grid > .g13 { width: 34%; }
.grid > .g23 { width: 66%; }
.grid > .g14 { width: 25%; }
.grid > .g34 { width: 75%; }
.grid > .g15 { width: 20%; }
.grid > .g25 { width: 40%; }
.grid > .g35 { width: 60%; }
.grid > .g45 { width: 80%; }

/* forms */

.um-form label { text-transform: capitalize; }
.um-form .compact label { display:block;  }
.um-form .compact select,
.um-form .compact input { width:98%;  }
.um-form .line { display: table; width:99% }
.um-form .line  label { width: 20%; float: left; display: block; min-height: 2em; }
.um-form .line select,
.um-form .line input { width: 78% }
.um-form .submit label { display: none; }
.um-form .option { margin: 0 1%; font-size: .8em; }

/* wp custome-header */

.um-headimg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100% 100%;
}



