@font-face {
	font-family: 'umi-wp-font';
	src:url('fonts/umi-wp-font.eot?-b70oo8');
	src:url('fonts/umi-wp-font.eot?#iefix-b70oo8') format('embedded-opentype'),
		url('fonts/umi-wp-font.woff?-b70oo8') format('woff'),
		url('fonts/umi-wp-font.ttf?-b70oo8') format('truetype'),
		url('fonts/umi-wp-font.svg?-b70oo8#umi-wp-font') format('svg');
	font-weight: normal;
	font-style: normal;
}
.umi,
[class^="umi-"], [class*=" umi-"] {
	font-family: 'umi-wp-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.umi-point-up:before {
	content: "\261d";
}
.umi-point-right:before {
	content: "\261e";
}
.umi-point-down:before {
	content: "\261f";
}
.umi-point-left:before {
	content: "\261c";
}
.umi-googleplus:before {
	content: "\e612";
}
.umi-googleplus2:before {
	content: "\e613";
}
.umi-googleplus3:before {
	content: "\e614";
}
.umi-facebook:before {
	content: "\e615";
}
.umi-facebook2:before {
	content: "\e616";
}
.umi-facebook3:before {
	content: "\e617";
}
.umi-twitter:before {
	content: "\e618";
}
.umi-twitter2:before {
	content: "\e619";
}
.umi-twitter3:before {
	content: "\e61a";
}
.umi-feed:before {
	content: "\e61b";
}
.umi-vimeo:before {
	content: "\e61c";
}
.umi-vimeo2:before {
	content: "\e61d";
}
.umi-vimeo3:before {
	content: "\e61e";
}
.umi-github:before {
	content: "\e61f";
}
.umi-github2:before {
	content: "\e620";
}
.umi-wordpress:before {
	content: "\e63f";
}
.umi-tumblr:before {
	content: "\e621";
}
.umi-file-pdf:before {
	content: "\e622";
}
.umi-file-word:before {
	content: "\e623";
}
.umi-file-excel:before {
	content: "\e624";
}
.umi-file-zip:before {
	content: "\e625";
}
.umi-file-powerpoint:before {
	content: "\e626";
}
.umi-file-css:before {
	content: "\e627";
}
.umi-search:before {
	content: "\27a0";
}
.umi-envelope-o:before {
	content: "\2709";
}
.umi-heart:before {
	content: "\2665";
}
.umi-star:before {
	content: "\2605";
}
.umi-star-o:before {
	content: "\2606";
}
.umi-th:before {
	content: "\2637";
}
.umi-check:before {
	content: "\2713";
}
.umi-times:before {
	content: "\d7";
}
.umi-edit:before {
	content: "\270f";
}
.umi-arrow-left:before {
	content: "\2190";
}
.umi-arrow-right:before {
	content: "\2192";
}
.umi-arrow-up:before {
	content: "\2191";
}
.umi-arrow-down:before {
	content: "\2193";
}
.umi-caret-down:before {
	content: "\25bc";
}
.umi-caret-up:before {
	content: "\25b2";
}
.umi-caret-left:before {
	content: "\25c0";
}
.umi-caret-right:before {
	content: "\25b6";
}
.umi-angle-double-left:before {
	content: "\ab";
}
.umi-angle-double-right:before {
	content: "\bb";
}
.umi-angle-double-up:before {
	content: "\f102";
}
.umi-angle-double-down:before {
	content: "\f103";
}
.umi-angle-left:before {
	content: "\2039";
}
.umi-angle-right:before {
	content: "\203a";
}
.umi-angle-up:before {
	content: "\5e";
}
.umi-angle-down:before {
	content: "\76";
}
.umi-desktop:before {
	content: "\31";
}
.umi-laptop:before {
	content: "\32";
}
.umi-tablet:before {
	content: "\33";
}
.umi-mobile-phone:before {
	content: "\34";
}
.umi-ellipsis-h:before {
	content: "\22ef";
}
.umi-ellipsis-v:before {
	content: "\22ee";
}
.umi-paperclip:before {
	content: "\e600";
}
.umi-user:before {
	content: "\e601";
}
.umi-vcard:before {
	content: "\e602";
}
.umi-location:before {
	content: "\e603";
}
.umi-map:before {
	content: "\e644";
}
.umi-chat:before {
	content: "\e604";
}
.umi-comment:before {
	content: "\e641";
}
.umi-house:before {
	content: "\e640";
}
.umi-printer:before {
	content: "\e645";
}
.umi-link:before {
	content: "\e605";
}
.umi-cog:before {
	content: "\e628";
}
.umi-tools:before {
	content: "\e629";
}
.umi-tag:before {
	content: "\e606";
}
.umi-camera:before {
	content: "\e607";
}
.umi-book:before {
	content: "\e608";
}
.umi-newspaper:before {
	content: "\e609";
}
.umi-clock:before {
	content: "\231a";
}
.umi-calendar:before {
	content: "\e63c";
}
.umi-key:before {
	content: "\26bf";
}
.umi-earth:before {
	content: "\e60a";
}
.umi-code:before {
	content: "\e63e";
}
.umi-cart:before {
	content: "\e62a";
}
.umi-rss:before {
	content: "\e60b";
}
.umi-lock:before {
	content: "\e62b";
}
.umi-lock-open:before {
	content: "\e62c";
}
.umi-logout:before {
	content: "\e63a";
}
.umi-login:before {
	content: "\e63b";
}
.umi-minus:before {
	content: "\e62d";
}
.umi-plus:before {
	content: "\e62e";
}
.umi-cross:before {
	content: "\22a0";
}
.umi-cross2:before {
	content: "\2297";
}
.umi-help:before {
	content: "\e630";
}
.umi-warning:before {
	content: "\e631";
}
.umi-list:before {
	content: "\39e";
}
.umi-pictures:before {
	content: "\e60c";
}
.umi-video:before {
	content: "\e60d";
}
.umi-music:before {
	content: "\e60e";
}
.umi-folder:before {
	content: "\e60f";
}
.umi-bookmark:before {
	content: "\e610";
}
.umi-bookmarks:before {
	content: "\e611";
}
.umi-play:before {
	content: "\e632";
}
.umi-pause:before {
	content: "\e633";
}
.umi-record:before {
	content: "\e634";
}
.umi-stop:before {
	content: "\e635";
}
.umi-next:before {
	content: "\e636";
}
.umi-previous:before {
	content: "\e637";
}
.umi-first:before {
	content: "\e638";
}
.umi-last:before {
	content: "\e639";
}
.umi-arrow-left2:before {
	content: "\21a4";
}
.umi-arrow-down2:before {
	content: "\21a7";
}
.umi-arrow-up2:before {
	content: "\21a5";
}
.umi-arrow-right2:before {
	content: "\21a6";
}
