/* layout/default.css */

html { overflow-x: hidden; }

.site-side { float: none; width: 100%; overflow:hidden; position: relative; right: 0;}
.site-main { float: none; width: 100%; overflow:hidden; }
.site-side:hover,
.site-side.clicked { width: 100%; background: none; right:0; padding: 0; }

div[class*="col"] > div {margin-right:0;width:100%; margin-bottom: 1em; }
div[class*="col"] > div .last {margin-right:0;width:100%}

.grid > div[class*="g"] { width: 50%; }

#colophon  .right { float: left; text-align:left }