/* 
 * um-scheme.css 
 * -------------
 * the comment next to color are to bind WP-admin Customization option to this file. 
 *
**/

.um-confirm { color: #16A086/*um-confirm*/ ; }
.um-cool { color: #5DADE2/*um-cool*/ ; }
.um-hot { color: #C54134/*um-hot*/ ; }
.um-line { color: #95A5A6/*um-line*/ ; }
.um-link { color: #111111/*um-link*/ ; }
.um-page { color: #FCFCFC/*um-page*/ ; }
.um-prompt { color: #F39C11/*um-prompt*/ ; }
.um-text { color: #232d1b/*um-text*/ ; }
.um-title { color: #2D3E50/*um-title*/ ; }

.um-bgr_confirm { background-color: #16A086/*um-confirm*/ ; }
.um-bgr_cool { background-color: #5DADE2/*um-cool*/ ; }
.um-bgr_hot { background-color: #C54134/*um-hot*/ ; }
.um-bgr_line { background-color: #95A5A6/*um-line*/ ; }
.um-bgr_link { background-color: #111111/*um-link*/ ; }
.um-bgr_page { background-color: #FCFCFC/*um-page*/ ; }
.um-bgr_prompt { background-color: #F39C11/*um-prompt*/ ; }
.um-bgr_text { background-color: #232d1b/*um-text*/ ; }
.um-bgr_title { background-color: #2D3E50/*um-title*/ ; }

* { 
	border-color: #95A5A6/*um-line*/ ; 
}

.entry-meta * { color: #95A5A6/*um-line*/ }

body { 
	background-color: #FCFCFC/*um-page*/ ; 
	color: #232d1b/*um-text*/ ; 
}

a { color: #111111/*um-link*/ }

input[type=submit],
.button { 
	background-color: #F39C11/*um-prompt*/ ; 
}

.entry-title ,
.entry-title a,
.page-title, .page-title a,
.single article header h1,.single article header h2,
.single article header h1 a,.single article header h2 a {
	color: #5DADE2/*um-cool*/;
	text-shadow: 1px 0 4px rgba(0,0,0,.1);
}

#reply-title,
.comments-title,
.widget-title {
	color: #C54134/*um-hot*/ ; 
}


#um-top.docked ,
.site-header {
	background-color: #232d1b/*um-text*/;
	color: #FCFCFC/*um-page*/ 
}

.main-navigation *,
.site-header *, 
.site-footer *,
#um-top * { 	color: #FCFCFC/*um-page*/; }

.main-navigation,
.main-navigation .nav-menu,
.nav-menu ul { background-color: #16A086/*um-confirm*/ }

.site-footer { background-color: #95A5A6/*um-line*/ }

